html, body { height: 100%; }

h1, h2, h3, h4, h5, h6, blockquote { color: #a0a0a0; }

.text-3x { font-size: 3.0em; }

.banner {
    min-height: 100vh;
}

@media only screen and (max-width: 767px) {
	.io-zinnia .banner {
    	min-height: 100vh;
    	padding-bottom: 25px;
	}
}

@media only screen and (min-width: 768px) {
	.io-zinnia .banner {
	    min-height: 100vh;
	}
}

.io-zinnia {
	background: #efefef;
}

.io-zinnia .header-txt p {
    color: #efefef;
}

.widget-subsctibe .input-round {
    border-color: #efefef;
    background: #ffffff33;
}

.widget-subsctibe .btn {
	color: #a92000;
}

.photo-badge {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 10;
}

.banner-content {
	padding-top: 250px !important;
}

/*
.banner-zinnia {
	background: url(../images/banner.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
*/

/*
.banner-zinnia:before {
	repeating-linear-gradient(
		-45deg,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.1) 4px,
		rgba(0, 0, 0, 0.15) 4px,
		rgba(0, 0, 0, 0.15) 8px
	);
	content: "";
	background-size: 400%;
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}
*/

/*
.banner-zinnia:after { 
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	left: 0;
	bottom: 0;
	z-index: 2;
	background: url(../images/header-shape-zinnia3.png) 100% 100% no-repeat;
	background-size: contain;
}
*/

@-webkit-keyframes GradientBanner {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes GradientBanner {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes GradientBanner { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

/*
.io-zinnia .footer-section {
    background-image: linear-gradient(45deg, #a62104 0%, #e48c28 100%);
}
*/